<!DOCTYPE HTML>
<!--
        Alpha by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title><%= titulo %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />

        <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCijlIzb3eLEes_sqd7DGIbFrdY754M0d0",
                authDomain: "vinos-2889e.firebaseapp.com",
                databaseURL: "https://vinos-2889e.firebaseio.com",
                projectId: "vinos-2889e",
                storageBucket: "vinos-2889e.appspot.com",
                messagingSenderId: "687912616285"
            };
            firebase.initializeApp(config);
            var messaging = firebase.messaging();
            messaging.requestPermission()
                    .then(function () {
                        console.log('Se han aceptado las notificaciones');
                    })
                    .catch(function (err) {
                        mensajeFeedback(err);
                        console.log('No se ha recibido permiso / token: ', err);
                    });
        </script>

        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/javascripts/jquery.validate.min.js"></script>        
        <script src="/vendor/bootstrap/js/popper.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/slider_flex.css" />
        <script>
            function mostrarCantidad(data) {
                var cant = 0;
                        var precio = 0;
                        $.each(data, function (i, item) {
                            cant += item.cant;
                            precio += item.pt;
                        });
                        $("#nro_items").html(cant + ' <b>$ ' + precio + '</b>');
                        console.log("se refresco");
                    
            }
            function refrescar() {
                var url = 'http://localhost:666/maria/compra/carrito/listado';
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        mostrarCantidad(data);
                        }, error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    }
                });
            }
            $(document).ready(function () {
                refrescar();
            });
        </script>
    </head>
    <body class="is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1><a href="index.html">Vinos</a> Maria</h1>
                <nav id="nav">
                    <ul>
                        <li><a class="icon fa-home" href="/maria"><span>Principal</span></a></li>
                        <% if (rol == 'admin') { %>
                        <li>
                            <a href="#" class="icon fa-bar-chart-o"><span>Administrar</span></a>
                            <ul>
                                <li><a href="/maria/administrar/marca">Marca</a></li>
                                <li><a href="/maria/administrar/vino">Vinos</a></li>
                                <li><a href="#">Listado de clientes</a></li>                                                                        
                            </ul>
                        </li>
                        <% } else { %>
                        <% } %>    
                        <li><a href="/maria/venta">Venta</a></li>
                        <li><a class="icon fa-user" href="/josselyn/cerrar_sesion"><span>Cerrar sesion</span></a></li>


                    </ul>

                </nav>
                <span class="icon fa-cart-plus">
                    <b>  Nro Items    </b>
                    <span id="nro_items">0</span>                            
                </span>
            </header>

            <!-- Main -->
            <section id="main" class="container">

                <%- include(fragmento) %>

            </section>

            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->

        <script src="/assets/js/jquery.dropotron.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>
